include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - test
  - deploy

deploy:
  stage: deploy
  tags:
    - self-hosted
  only:
    - main
  script:
    - cd /opt/open-publisher
    - git pull
    - docker compose up -d --build
